[submodule "extern/fmt"]
	path = extern/fmt
	url = ../../fmtlib/fmt.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = ../../glfw/glfw.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = ../../gabime/spdlog.git
[submodule "extern/glm"]
	path = extern/glm
	url = ../../g-truc/glm.git
[submodule "extern/glbinding"]
	path = extern/glbinding
	url = ../../cginternals/glbinding.git
[submodule "extern/msdf-atlas-gen"]
	path = extern/msdf-atlas-gen
	url = ../../Chlumsky/msdf-atlas-gen.git
[submodule "extern/pcg-cpp"]
	path = extern/pcg-cpp
	url = ../../imneme/pcg-cpp
